@import "../App.sass"

.browsing-page
  margin: 1em auto 1em auto

  details[open]
    border: solid 1px lightgrey
    min-height: 200px
    padding: 1em

.pokemon-filter

.pokemon-list
  margin-bottom: 2em
  ul
    list-style: none
    padding-left: 0

    li:last-child
      padding-bottom: 1em

  .pokemon-list-item
    padding: 1em
    margin-bottom: 1em
    box-shadow: 0 0 4px rgba(0,0,0, .2)

    img
      width: 100px

.page-counter
  position: absolute
  bottom: $footer-height
  width: $app-width
  height: 2em
  text-align: center
  margin-bottom: 1em

  ul
    list-style-type: none
    padding-left: 0

    li
      display: inline-block
      margin: 0 .5em 0 .5em
      width: 1em
