$app-width: 960px

.App
  position: absolute
  min-height: 100%
  width: 100%

  top: 0
  left: 0
  padding: 0
  background-color: darkorange

.container
  min-height: 100vh
  width: $app-width
  margin: auto

  padding: 0 1em 0 1em
  background-color: whitesmoke
  box-shadow: 0 0 100vmin rgba(0,0,0, .2)
  display: flex
