$app-width: 960px
$footer-height: 100px

.App
  position: absolute
  min-height: 100%
  width: 100%

  top: 0
  left: 0
  padding: 0
  background-color: darkorange

.container
  min-height: 100vh
  width: $app-width
  margin: auto

  padding: 0 1em 0 1em
  background-color: whitesmoke
  box-shadow: 0 0 100vmin rgba(0,0,0, .2)
  display: flex

.page-layout
  height: 100%

  .main-header
    width: $app-width
    padding: 1em 0 0 0

    border-bottom: solid 1px orange

    .logo
      height: 120px
      text-align: center

      img
        margin: auto
        height: 100%

    .navbar
      padding-top: 1em

      ul
        list-style-type: none
        text-align: center
        width: 100%
        padding-left: 0
        display: table
        table-layout: fixed

        li
          display: table-cell

      .nav-button
        border: none
        background-color: whitesmoke
        width: 100%
        color: blue

        &:hover
          text-decoration: underline
          cursor: pointer

      .active-nav-button
        border: none
        background-color: whitesmoke
        width: 100%

        text-decoration: underline

  .main-footer
    position: absolute
    bottom: 0
    height: $footer-height
    width: $app-width
    border-top: solid 1px orange

  .content
    padding-bottom: $footer-height